<!DOCTYPE html>
<html>

  <head>
    <title>get out</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>

  <body>
    <h1>api tester</h1>
    <p>no api explorer for a while so here is a list</p>
    <ul>
      <li>
        <a href="/places">/places/nearby</a>
      </li>
    </ul>
  </body>

</html>
