<!DOCTYPE html>
<html>
  <head>
    <title>get out</title>
    <link rel='stylesheet' href='/css/style.css' />
  </head>
  <body>
    <form action="/places/nearby" method="GET">
      lat
      <input type="text" name="lat" id="lat" value="-33.8670522">
      <br>
      long
      <input type="text" name="long" id="long" value="151.1957362">
      <br>
      amount
      <input type="number" name="amount" id="amount" value="30">
      <br><br>
      <input type="submit" value="send" id="submit">
    </form>

    <h5>for usage information check project repository</h5>
  </body>
</html>
